.wrapper {
    z-index: 9999;
    position: fixed;
    inset: 0px;
    display: flex;
    overflow: auto;
    outline: 0px;
    animation: modalShow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;
}

.overplay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
}

.body {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    max-height: 693px;
    height: 80%;
    overflow: hidden;
}

@keyframes modalShow {
    from {
        inset: 1000px;
        opacity: 0;
    }
    to {
        inset: 0;
        opacity: 1;
    }
}